/*******************************
        NAVBAR
*******************************/
#navbar-toggle {
    z-index: 1030;
    box-shadow:none;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 62px;
}

#navbar .navigation-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar .navigation-menu > li {
    float: left;
    display: block;
    position: relative;
    margin: 0 5px;
}

#navbar .navigation-menu > li > a {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 20px;
}

#navbar .logo {
    float: left;
    line-height: 70px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
    font-weight:700;
    letter-spacing: 1px;
    font-size: 24px;
}

#navbar .menu-extras {
    float: right;
}

#navbar .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#navbar .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 28px auto;
    height: 15px;
}

#navbar .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

#navbar .navbar-toggle span:last-child {
    margin-bottom: 0;
}

#navbar .navbar-toggle.open span {
    position: absolute;
}

.navigation-menu li.active a{
    color: #1dc6df !important;
}

#navbar .navbar-toggle.open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#navbar .navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}

#navbar .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#navbar .navbar-toggle.open span:hover {
    background-color: #1dc6df;
}

#navbar .navbar-toggle:hover,
#navbar .navbar-toggle:focus,
#navbar .navigation-menu > li > a:hover,
#navbar .navigation-menu > li > a:focus {
    background-color: transparent;
}

.darkheader {
    background-color: #000 !important;
    -moz-box-shadow: 0 10px 33px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 10px 33px rgba(0,0,0,.1);
    box-shadow: 0 10px 33px rgba(0,0,0,.1);
}

@media (min-width: 992px) {
    #navbar .navigation-menu > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: 62px;
    }
    #navbar .navbar-toggle {
        display: none;
    }
    #navbar #navigation {
        display: block !important;
    }
    #navbar .navigation-menu > li:hover > a {
        color: #1dc6df !important;
    }
    #navbar.scroll-active .navigation-menu > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #navbar.scroll .navigation-menu > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #navbar.scroll {
        top: 0;
    }
}

@media (max-width: 991px) {
    .logo {
        padding: 0 !important;
        line-height: 0;;
    }

    .darkheader .logo{
        color: #fff !important;
    }

    #navbar .container {
        width: auto;
    }
    #navbar .navigation-menu {
        float: none;
        max-height: 400px;
    }
    #navbar .navigation-menu > li {
        float: none;
    }
    #navbar .navigation-menu > li > a {
        color: #28282e;
        padding: 10px 20px;
    }
    #navbar .navigation-menu > li > a:hover,
    #navbar .navigation-menu > li .submenu li a:hover,
    #navbar .navigation-menu > li.has-submenu.open > a,
    #navbar .menu-extras .menu-item .cart > a:hover,
    #navbar .menu-extras .menu-item .search > a:hover {
        color: #1dc6df;
    }
    #navbar .navigation-menu > li > a:after {
        position: absolute;
        right: 15px;
    }
    #navbar .navigation-menu > li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }
    #navbar .navigation-menu > li .submenu li a {
        display: block;
        padding: 6px 15px;
        clear: both;
        white-space: nowrap;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #7a7d84;
        transition: all 0.3s;
    }
    #navbar .navbar-toggle span {
        background-color: #7a7d84;
    }
    #navbar .navbar-header {
        float: left;
    }
    #navbar .logo {
        padding: 11px 0;
    }
    #navbar .logo .logo-light {
        display: none;
    }
    #navbar .logo .logo-dark {
        display: block;
    }
    #navigation {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        background-color: #ffffff;
    }
    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 768px) {
    #navbar{
        background-color: #222527 !important;
    }
}